@model WebApplication.Models.AlphabetCreateViewModel
@{
    ViewBag.Title = "Edit Alphabet";
}

<div class="boxTitle">
    <h1>@ViewBag.Title</h1>
</div>
<div class="boxText">
    @using (Html.BeginForm("Edit", "Alphabet", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-sm-5">
                @Html.TextBoxFor(m => m.Nation, new { @class = "form-control", placeholder = "Nation (ICE, DEN, ENG...)" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Language name" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                @Html.TextBoxFor(m => m.Characters, new { @class = "form-control", placeholder = "Characters" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                @Html.TextBoxFor(m => m.BackgroundColor, new { @class = "form-control", type = "color", value = "#ffffff" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-5">
                @Html.DropDownListFor(m => m.Font, Model.AvailableFonts, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5">
                <div class="btn-group pull-right">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <input type="button" value="Cancel" class="btn btn-default" onclick="history.back()" />
                </div>
            </div>
        </div>
    }
</div>