@model WebApplication.Models.AlphabetsViewModel
@{
    ViewBag.Title = "Alphabets";
}

<div class="container-fluid center">

    <h2>Nordic Alphabets</h2>

    <div class="row" id="countryList">
        @foreach (var alphabet in Model.alphabets)
        {
            var imgPath = "/Images/Flags/" + @alphabet.Id + ".svg"; 
            
            <div class="col-md-4 col-sm-12">
                @* TODO: Scale images properly *@
                <img src="@imgPath" class="flagImage" />
                <h3>@alphabet.Description</h3>
                <p><a class="btn btn-success" href="@Url.Action("Participate","Alphabet", new { id = alphabet.Id })">Participate &raquo;</a></p>
                <p><a class="btn btn-sm btn-warning" href="@Url.Action("Edit","Alphabet", new { id = alphabet.Id })">Edit</a></p>
            </div>
        }
    </div>
</div>

<hr />

<div class="container-fluid center">

    <h2>Asian Alphabets</h2>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3>Danish</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Faroese</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Finnish</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Greenlandic</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Icelandic</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Norwegian</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Swedish</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
    </div>
</div>