@model WebApplication.Models.AlphabetIndexViewModel
@{
    ViewBag.Title = "Alphabets";
}

<div class="container-fluid center">

    <h2>Alphabets</h2>

    <div class="row" id="countryList">
        @foreach (var alphabet in Model.Alphabets)
        {
            var imgPath = "/Images/Flags/" + @alphabet.Flag + ".svg";
            if (!File.Exists(Server.MapPath("~/") + imgPath))
                imgPath = "/Images/Flags/noflag.svg";
            

            <div class="col-md-3 col-sm-12">
                @* TODO: Scale images properly *@
                <img src="@imgPath" class="flagImage" alt="Flag image" />
                <h3>@alphabet.Description</h3>
                <p><a class="btn btn-success" href="@Url.Action("Participate","Alphabet", new { id = alphabet.Id })">Participate &raquo;</a></p>
                @if (Model.UserRoles.Contains("Admin"))
                {
                    <p><a class="btn btn-sm btn-warning" href="@Url.Action("Edit","Alphabet", new { id = alphabet.Id })">Edit</a></p>
                }
            </div>
        }
        @if (Model.UserRoles.Contains("Admin"))
        {
            <div class="col-md-3 col-sm-12" >
                <div id="btnABListAdd">
                    <h3>New Alphabet</h3>
                    <a class="btn btn-lg btn-primary" href="@Url.Action("Create","Alphabet")">Create</a>
                </div>
            </div>
        }
    </div>
</div>