@model WebApplication.Models.AlphabetsViewModel
@{
    ViewBag.Title = "Alphabets";
}

<h2>Nordic Alphabets</h2>

<div class="container-fluid">
    <div class="row">
        @foreach (var alphabet in Model.alphabetList)
        {
            <div class="col-md-4 col-sm-12">
                <h3>@alphabet.Description</h3>
                <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here @alphabet.Id &raquo;</a></p>
            </div>
        }
    </div>
</div>

<hr />

<h2>Asian Alphabets</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3>Danish</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Faroese</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Finnish</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Greenlandic</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Icelandic</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Norwegian</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4 col-sm-12">
            <h3>Swedish</h3>
            <p><a class="btn btn-default" href="@Url.Action("Index","Alphabet")">Click here &raquo;</a></p>
        </div>
    </div>
</div>